
@media only screen and (max-width: 1600px) {
  .skill-hiereducation {
    background: url(../images/image-bg.png) no-repeat 100% 34%;
}

.weblive-border {
    padding: 30px 70px 10px 50px;
}
.successbottom-text span{ font-size:15px; }

.media-coverage-text-wrap h4{ font-size:14px; }
.successbox i {
    font-size: 17px;
}

.components-bottom .indst-learning-outer-bx{ }
.components-box .inner-led-para {
    font-size: 16px;
    line-height: 29px;
}

.video-bx-1{ height:510px; }
.video-bx-1 img{ height:510px; }

section.medhavi_event .rbt-card .rbt-card-body{ padding: 28px; }


.skill-img-size{     height: 400px;
    object-fit: cover; }

.components-bottom-2 ul li{ font-size:15px; margin-bottom: 2px;
    margin-top: 2px; }

.expertmentor-top {
    padding: 49px 0 41px 0;
}

.webelive .container-fluid {
    padding-left: 80px;
}
.weblive-border p {
    font-size: 16px;
    line-height: 25px;
}

.skill-hiereducation p.toppara{ padding-bottom:0; }
.skill-img{ margin-bottom:20px; }
.skill-hiereducation{ padding: 60px 0 40px 0; }
.webelive { padding: 70px 0 50px 0;}

.industry-collab-logo-grid {
    padding-top: 60px;
}

.evalution-top {
    padding: 70px 0 70px 0;
}


.video-bx-1{ height: 510px; }
.video-bx-1 img{ height: 510px; }


}


@media only screen and (max-width: 1200px) {

}



@media only screen and (max-width: 960px) {
  .facilities-box img {
    margin-bottom: 30px;
  }

.learning-eco-para{ padding-right: 0; padding-top: 30px; }

  .ecoslider{ padding: 0 30px 40px; }

  .ecoslider .owl-item:nth-child(even) .item {
  margin-top: 0;
}

.eco-top {
    padding: 47px 0 27px 0;
}

  .weblive-border {
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 30px 16px 20px 25px;
}

.successimg {
    margin-left: 0;
    padding-right: 0;
}

.webelive h2{ font-size:31px; }


  img.webliveimg{ margin:30px 0 30px 0; }

  .skill-hiereducation{ background:none; }

  .facilities-box {
    padding-bottom: 21px;
  }

  .webelive{ background:none; padding-top:44px; padding-bottom: 23px; }
  .webelive .container-fluid{ padding-left:10px; padding-right:10px; }

.learning-with-industry-top {
    padding: 23px 0 17px 0;
}

  .logo-section {
    text-align: center;
  }

  .logo-nomarg img {
    margin-bottom: 50px;
  }

  section.awards__section {
    padding: 60px 0 46px;
  }

  .awarddiv-icon {
    position: relative;
    width: 72%;
    margin: 0 auto;
    padding: 0 5% 30px 5%;
  }

  section.awards__section .accredation__slider .owl-stage-outer {
    padding-top: 15px;
  }
  section.logo-section {
    padding: 60px 0 10px 0;
}
  section.awards__section .accredation__slider {
    margin-top: 0;
  }

  section.awards__section p {
    height: 35px;
    padding: 0 0 122px 0;
    background-position: bottom;
  }


.showcase-content {
    padding: 28px 0 12px 0;
}

.watchpara {
    padding-bottom: 13px;
}

.skill-hiereducation{ padding: 43px 0 43px 0; }
.skill-img {
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 30px 0px 0px 0px;
}

.skill-hiereducation h4{ font-size: 24px; }

.learning-with-industry-top img{ border-radius:0; }
section.practicesliderpan {
    position: relative;
    padding: 45px 0;
}

.learning-space-bottom{ padding-top:132px; }

.learning-img{ margin-bottom:0; }


}

@media only screen and (max-width: 767px) {

  .awarddiv-icon {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 0 14% 30px 13%;
  }

  .br-blue{ border-bottom: 2px dashed #99aab5; }


  .indst-learning-outer-bx.ecosystem-box .indst-learning-inner-bx{ height: auto;  margin-bottom:20px; }

  .evalution-bottom-content{ padding: 30px 15px 10px 15px;  }
  .evalution-bottom-content li{ font-size: 14px; }

  .learning-with-industry-top p{ margin-bottom: 20px; }

    .components-box .indst-learning-inner-bx {
    height: auto;
}

.successimg {
    margin-left: 0;
    padding-right: 0;
}

  section.logo-section {
    padding: 60px 0 30px 0;
}
  section.awards__section {
    padding: 50px 0 30px;
  }

  .watchsection {
    padding: 45px 0 0px 0;
}

.watchvideo-box {
    margin: 0 0px;
    margin-bottom: 20px;
}
.skill-hiereducation p.toppara {
    padding-bottom: 0;
}

}