$flaticon_mycollection-font: "flaticon_mycollection";

@font-face {
    font-family: $flaticon_mycollection-font;
    src: url("./flaticon_mycollection.woff2?fb6406e9adf6363513594e7d91cf6754") format("woff2"),
url("./flaticon_mycollection.woff?fb6406e9adf6363513594e7d91cf6754") format("woff"),
url("./flaticon_mycollection.eot?fb6406e9adf6363513594e7d91cf6754#iefix") format("embedded-opentype"),
url("./flaticon_mycollection.ttf?fb6406e9adf6363513594e7d91cf6754") format("truetype"),
url("./flaticon_mycollection.svg?fb6406e9adf6363513594e7d91cf6754#flaticon_mycollection") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_mycollection-map: (
    "paper-plane": "\f101",
    "press-button": "\f102",
    "callback": "\f103",
    "whatsapp": "\f104",
    "conversation": "\f105",
    "smile-face": "\f106",
);

.flaticon-paper-plane:before {
    content: map-get($flaticon_mycollection-map, "paper-plane");
}
.flaticon-press-button:before {
    content: map-get($flaticon_mycollection-map, "press-button");
}
.flaticon-callback:before {
    content: map-get($flaticon_mycollection-map, "callback");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon_mycollection-map, "whatsapp");
}
.flaticon-conversation:before {
    content: map-get($flaticon_mycollection-map, "conversation");
}
.flaticon-smile-face:before {
    content: map-get($flaticon_mycollection-map, "smile-face");
}
