section.msu_scholar_schemes .rbt-card-scheme {
    max-width: 100%;
}

section.msu_scholar_schemes .container-fluid.custom-width__2 .row:nth-child(2) {
    row-gap: 30px;
}

section.msu_scholar_schemes,
section.know__abt__msu_scholarship,
section.cultural_scholarship,
section.cultural_scholarship_duplicate {
    padding: 100px 25px;
}

@media screen and (max-width: 1440px) {

    section.msu_scholar_schemes .rbt-card-scheme {
        width: 390px;
    }

    section.cultural_scholarship ul {
        padding-left: 20px;
    }


    .row>* {
        padding-left: 0;
        padding-right: 0;
    }

    .row>.page-title {
        padding: 0 25px;
    }

    section.msu_scholar_schemes, section.know__abt__msu_scholarship, section.cultural_scholarship, section.cultural_scholarship_duplicate {
        padding: 80px 25px;
    }

    section.msu_scholar_schemes .rbt-card-scheme h4.rbt-card-title {
        font-size: 22px;
    }

    section.msu_scholar_schemes p {
        width: 100%;
        margin: 0 auto 20px;
        line-height: 27px;
    }

    section.cultural_scholarship p.cul_para,
    section.cultural_scholarship ul.list_para_1 li,
    section.cultural_scholarship_duplicate p.cul_para,
    section.cultural_scholarship_duplicate ul.sub_list_1 li,
    section.cultural_scholarship_duplicate ul.sub_list li,
    section.cultural_scholarship ul.list_para_2 li,
    #special_privileges th,
    #special_privileges td {
        font-size: 14px;
        line-height: 27px;
    }
}



@media screen and (max-width: 1366px) {

    section.msu_scholar_schemes .rbt-card-scheme {
        width: 382px;
    }

    section.cultural_scholarship ul {
        padding-left: 20px;
    }

}
@media screen and (max-width: 1280px) {

    section.msu_scholar_schemes .rbt-card-scheme {
        width: 343px;
    }

    section.cultural_scholarship ul {
        padding-left: 20px;
    }

}

@media screen and (max-width: 1100px) {

    section.msu_scholar_schemes,
    section.know__abt__msu_scholarship,
    section.cultural_scholarship {
        padding: 40px 25px 0;
    }

    section.cultural_scholarship_duplicate {
        padding: 40px 25px;
    }

    section.cultural_scholarship p.cul_para,
    section.cultural_scholarship ul.list_para_1 li,
    section.cultural_scholarship_duplicate p.cul_para,
    section.cultural_scholarship_duplicate ul.sub_list_1 li,
    section.cultural_scholarship_duplicate ul.sub_list li,
    section.cultural_scholarship ul.list_para_2 li,
    p,
    #special_privileges th,
    #special_privileges td {
        font-size: 14px;

    }

    section.cultural_scholarship ul.sub_list {
        margin: 10px 0;
    }

    ul li {
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }
}

@media screen and (max-width: 992px) {
    .row>.page-title {
        padding: 0 15px;
    }

    section.msu_scholar_schemes,
    section.know__abt__msu_scholarship,
    section.cultural_scholarship {
        padding: 40px 15px 0;
    }

    section.cultural_scholarship_duplicate {
        padding: 40px 15px;
    }

    .special_privileges_bg {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-bottom: 50px;
    }

    .cultural_scholarship>div>.row:last-child {
        flex-flow: column-reverse;
        row-gap: 30px;
    }

    section.know__abt__msu_scholarship .col-lg-6.pl-60 {
        padding-left: 0;
        margin-top: 15px;
    }

    #special_privileges {
        min-width: 932px;
        margin-bottom: 15px;
    }

    .special_privileges_bg::-webkit-scrollbar {
        height: 10px;
    }

    .special_privileges_bg::-webkit-scrollbar-track {
        background-color: #003a5b;
        border-radius: 15px;
    }

    .special_privileges_bg::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: white;
    }

    section.cultural_scholarship_duplicate h3.sub__title,
    section.cultural_scholarship h3.sub__title {
        font-size: 22px;
    }
}
@media screen and (max-width: 820px) {
    .row>.page-title {
        padding: 0 10px;
    }

    section.msu_scholar_schemes, section.know__abt__msu_scholarship, section.cultural_scholarship {
        padding: 60px 6px;
    }

    section.cultural_scholarship_duplicate {
        padding: 60px 3px;
    }

    section.cultural_scholarship_duplicate p.cul_para {
        margin-bottom: 30px;
    }

    section.know__abt__msu_scholarship h2 {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .msu__img img {
        object-fit: cover;
    }

    section.cultural_scholarship .unique_img {
        padding-left: 0px;
    }

    .unique_img img {
        /* height: 550px; */
        object-fit: cover;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .row>.page-title {
        padding: 0 10px;
    }

    section.msu_scholar_schemes,
    section.know__abt__msu_scholarship,
    section.cultural_scholarship {
        padding: 60px 5px;
    }

    section.cultural_scholarship_duplicate {
        padding: 60px 3px;
    }

    section.cultural_scholarship_duplicate p.cul_para {
        margin-bottom: 30px;
    }

    section.know__abt__msu_scholarship h2 {
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .msu__img img {
        object-fit: cover;
    }

    section.cultural_scholarship .unique_img {
        padding-left: 0px;
    }

    .unique_img img {
        /* height: 550px; */
        object-fit: cover;
        width: 100%;
    }
}


@media screen and (max-width: 767px) {

    section.msu_scholar_schemes p {
        width: 100%;
        margin: 0 auto 20px;
        line-height: 26px;
        font-size: 14px;
        padding: 0 22px;
    }

    .msu__img img {
        height: 340px;
        object-fit: contain;
    }

    section.msu_scholar_schemes .rbt-card-scheme {
        width: 344px;
    }

    section.msu_scholar_schemes, section.know__abt__msu_scholarship, section.cultural_scholarship {
        padding: 60px 10px;
    }

    section.know__abt__msu_scholarship p {
        margin-bottom: 0;
        line-height: 27px;
    }

    .unique_img img {
        width: 100%;
    }

    section.cultural_scholarship ul {
        padding-left: 0px;
    }

    section.cultural_scholarship_duplicate h3.sub__title, section.cultural_scholarship h3.sub__title {
        font-size: 18px;
    }

    section.cultural_scholarship_duplicate ul {
        padding-left: 18px;
    }


}

@media screen and (max-width: 500px) {
    section.cultural_scholarship, section.cultural_scholarship_duplicate {
        padding: 30px 10px;
    }

    section.msu_scholar_schemes .rbt-card-scheme h4.rbt-card-title {
        font-size: 18px;
    }

    section.cultural_scholarship_duplicate .title,
    section.cultural_scholarship_duplicate p.cul_para {
        padding-left: 0;
    }

    section.cultural_scholarship ul {
        padding-left: 20px;
    }

    section.msu_scholar_schemes {
        padding: 30px 0;
    }
}